body { 
    background-color: aqua;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    margin-top: 5rem;
    padding-top: 2rem;
}